/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Quicksand' !important;
  font-size: 1.5em !important;
  background-color: #faf9f0;
  color: #444;
  padding-bottom: 10px;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
ul {
  background: #e1e0d8;
}
#logo {
  position: absolute;
  float: left;
  max-width: 18%;
  max-height: 18%;
}
.commentText {
  display: inline-block;
  padding: 10px 2px;
}
.timeCreated {
  font-size: 80%;
  font-style: italic;
  padding-right: 5px;
  padding-left: 5px;
}
.timeLastEdited {
  font-size: 80%;
  font-style: italic;
  display: block;
}
.editCommentArea {
  width: 100%;
  resize: vertical;
  height: 100px;
}
.footerText {
  font-size: 80%;
  color: #444;
}
.link-icon {
  text-decoration: none !important;
  color: #fa5b4d !important;
}
.link-icon:hover {
  color: #f82614 !important;
}
.link-box {
  width: 10%;
  height: 200px;
  line-height: 200px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.fa-4x {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.fa-4x {
  font-size: 6em !important;
}
/*.list-group-item
  margin-bottom 1px !important*/
.input-group-btn {
  vertical-align: top !important;
}
.addCommentForm {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.multiLine {
  resize: vertical;
}
.bubbleText,
.commentText {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: auto;
  display: inline;
}
.list-group-item {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.list-group-item:hover {
  border: 1px solid #fa5b4d !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.bubbleClosed:hover {
  -webkit-box-shadow: 0px 0px 20px #fa5b4d;
  box-shadow: 0px 0px 20px #fa5b4d;
  cursor: pointer;
}
.bubbleClosed:hover + .list-group-item {
  -webkit-box-shadow: inset 0px 20px 20px -20px #fa5b4d;
  box-shadow: inset 0px 20px 20px -20px #fa5b4d;
}
.list-group-item:hover + .list-group-item {
  border-top: 1px solid #fa5b4d !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.list-group-item {
/*padding-left 25px !important
  padding-right 5px !important
  padding-bottom 0px !important*/
  background: #fff !important;
}
.list-group-item > ul > .list-group-item {
  background: #fcfcfc !important;
}
.list-group-item > ul > .list-group-item > ul > .list-group-item {
  background: #fff !important;
}
.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item {
  background: #fcfcfc !important;
}
.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item {
  background: #fff !important;
}
.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item {
  background: #fcfcfc !important;
}
.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item {
  background: #fff !important;
}
.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item {
  background: #fcfcfc !important;
}
