/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0
main-color-darken = #f82614
comment-bg-color = #E1E0D8

body
  font-family 'Quicksand' !important
  font-size 1.5em !important
  background-color background-color
  color #444
  padding-bottom 10px

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

ul
  background comment-bg-color

#logo
  position absolute
  float left
  max-width 18%
  max-height 18%

.commentText
  display inline-block
  padding 10px 2px

.bubbleText
  color main-color
  font-size 2em
  font-weight bold

.timeCreated
  font-size 80%
  font-style italic
  padding-right 5px
  padding-left 5px

.timeLastEdited
  font-size 80%
  font-style italic
  display block

.editCommentArea
  width 100%
  resize vertical
  height 100px

.footerText
  font-size 80%

.footer
  background-color main-color
  font-family 'Quicksand'
  padding 30px 10px
  color #fff

.link-icon
  text-decoration none !important
  color main-color !important

.link-icon:hover
  color main-color-darken !important

.link-box
  width 10%
  height 200px
  line-height 200px
  display inline-block
  padding 10px 10px 10px 10px
  text-align center

.fa-4x
  -o-transition .5s
  -ms-transition .5s
  -moz-transition .5s
  -webkit-transition .5s
  transition .5s

.fa-4x
  font-size 6em !important

.input-group-btn
  vertical-align top !important

.editButtonForm, .editButton, .cancelEditButton, .shareButton
  display inline
  margin-bottom 10px !important

.addCommentForm
  margin-top 10px
  margin-bottom 10px
  width 100%

.multiLine
  resize vertical

.bubbleText, .commentText

  white-space pre-wrap
  white-space -moz-pre-wrap
  white-space -pre-wrap
  white-space -o-pre-wrap

  overflow-wrap break-word
  word-wrap break-word

  -ms-word-break break-all
  word-break break-all
  word-break break-word

  width auto

.list-group
  background none

.list-group-item
  -o-transition .5s
  -ms-transition .5s
  -moz-transition .5s
  -webkit-transition .5s
  transition .5s

  border-radius 10px !important
  margin-bottom 10px !important


.list-group-item:hover
  border 1px solid main-color !important
  -o-transition .5s
  -ms-transition .5s
  -moz-transition .5s
  -webkit-transition .5s
  transition .5s

.bubbleClosed:hover
  box-shadow 0px 0px 20px main-color
  cursor pointer

.list-group-item

  // alternative padding scheme, looks nice, might use later
  /*padding-left 25px !important
  padding-right 5px !important
  padding-bottom 0px !important*/
  background #ffffff !important

.list-group-item > ul > .list-group-item
  background #fcfcfc !important

.list-group-item > ul > .list-group-item > ul > .list-group-item
  background #ffffff !important

.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item
  background #fcfcfc !important

.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item
  background #ffffff !important

.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item
  background #fcfcfc !important

.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item
  background #ffffff !important

.list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item > ul > .list-group-item
  background #fcfcfc !important
