<!doctype html>
html
	head
		title SimpleTalk
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='/javascripts/script.js')
			
	body

		// logo
		.container
			a(href='/')
				img(id='logo' src='/images/simpletalklogotransparent.png')
		
		// header
		header
			h1 SimpleTalk
			h6 Talking Simply.
			span.btn-toolbar.pull-right
				button.btn.btn-danger.btn-lg(type='button' data-toggle='modal' data-target='#loginModal') log in
				button.btn.btn-danger.btn-lg#logoutButton(type='button' title='Logout') log out
				button.btn.btn-danger.btn-lg(type='button' data-toggle='modal' data-target='#registerModal') register
		
		// login modal
		div.modal.fade#loginModal(role='dialog')
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type='button' data-dismiss='modal') &times;
						h4.modal-title Login
					
					form#loginForm(name='login')
						div.modal-body
							input.form-control(required id='loginUser' type='text' placeholder='Username' name='loginUser')
							input.form-control(required id='loginPass' type='password' placeholder='Password' name='loginPass')
						div.modal-footer
							button.btn.btn-danger#loginSubmit(type='submit' title='Login') login
							button.btn.btn-danger(type='button' data-dismiss='modal') cancel

		// register modal
		div.modal.fade#registerModal(role='dialog')
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type='button' data-dismiss='modal') &times;
						h4.modal-title Register

					form#registerForm(name='register')
						div.modal-body
							input.form-control(required id='registerUser' type='text' placeholder='Username' name='registerUser')
							input.form-control(required id='registerPass' type='password' placeholder='Password' name='registerPass')
							input.form-control(required id='registerConfirmPass' type='password' placeholder='Confirm Password' name='registerConfirmPass')
						div.modal-footer
							button.btn.btn.btn-danger#registerSubmit(type='submit' title='Register') register
							button.btn.btn-danger(type='button' data-dismiss='modal') cancel


		// main content
		.container
			block content

		// footer content
		div.text-center
			div.link-box
				a.link-icon(href='https://github.com/JelloRanger/SimpleTalk' target='_blank')
					i.fa.fa-github-square.fa-4x(title='GitHub')
			div.link-box
				a.link-icon(href='mailto:jacob@jabramson.com')
					i.fa.fa-envelope-square.fa-4x(title='Email')
		footer.footer
			p.footerText.text-center &copy; Jacob Abramson 2015. All rights reserved.
		


		
